.productListStyle {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0 200px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin: 0 15px;

    @media screen and (min-width: 969px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1170px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 45px 0 100px;
        margin: 0 60px;
    }
  };