nav.mobileMenuNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 30%;
    margin: 0 auto;
    a {
        display: block;
        font-family: 'BogleWeb-Bold';
        font-size: 12px;
        letter-spacing: 1.5px;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
    
    }
}