
$color-purple: #041E42;
$color-blue: #006697;
$color-teal: #E2F3F7;
$color-green: #2A8703;
$color-soft-yellow: #DDE7A0;
$color-barney-purple: #63327E;
$color-yellow: #FFC220;
$color-grey: #6D6E71;
$color-light-grey: #E6E7E8;
$color-lighter-grey: #F6F6F6;