$color-purple: #041e42;
$color-blue: #006697;
$color-teal: #e2f3f7;
$color-green: #2a8703;
$color-soft-yellow: #dde7a0;
$color-barney-purple: #63327e;
$color-yellow: #ffc220;
$color-grey: #6d6e71;
$color-light-grey: #e6e7e8;
$color-lighter-grey: #f6f6f6;
